# Client
VITE_API_URL=http://localhost:3001

# Server
MONGODB_URI=mongodb://localhost:27017/mordisquitos
PORT=3001
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
APP_SECRET=your_secret_key
USERS=[{"pin":"your_pin","dbName":"your_db_name","label":"your_label"}]